    body{ 

        margin: 0;
        font-family: Arial, Helvetica, sans-serif; /* Usa Arial o Helvetica como opciones principales */
        color: black;
        background-color: #6ac5e2;
    }


    header{

        width: 100%; /* Le doy un ancho del 100% porque quiero que ocupe toda la pantalla*/
        height: 5vh; /* Hago uso del vh, para darle el espacio que considero tanto al header como el footer, y un 90% al main para que me ocupe toda la pantalla la página */
        display: flex; /*Hago uso del display flex y sus distintos modos para centrar el texto */
        justify-content:flex-start;
        align-items: center;
        position: relative;
    }

    header p{
       padding: 15px; /*Utilizo el padding para separar mas cada <p> entre sí*/
       position: relative; /*Hago uso del position relative para poder moverlos algo mas a la izquierda. Si lo hiciera de otra manera, estaría agrandando el viewport y necesitaría una barra para desplazarme por la página*/
       left: 50px;
    }

    header p:first-child{ /*Utilizo selectores para cambiar el color de la palabra tucan*/
        color: #2d68b9;

    }

    a{

        text-decoration: none;

    }

    a:active{

        color: #2d68b9;


    }

    a:hover{
   
        text-decoration: underline;
    }

    a:visited {
        color: #2d68b9; /* Cambia el color una vez visitado */
    }
    

    main{ 
    width: 100%;
    height: 90vh;
    background-color: #f68134; /*Le doy el color de fondo de la página*/
    position: relative; 
    display: flex; /*Lo utilizo para poner el contenedor de article en el centro */
    justify-content: center;
    align-items: center;
    }

    article{
        width: 550px; /*Hago un contenedor a mi gusto*/
        height: 550px;
        border-radius: 2%;  /*Le redondeo los bordes*/
        background-color: #6ac5e2;
        position: relative; /*Hago uso del position relative para que los elementos que voy a tener dentro se dispongan dentro de este cuadrado*/
        display: flex; 
        flex-direction: column; /*Hago que lo que tengo dentro se muestre en columna y a continuación lo centro*/
        justify-content: center;
        align-items: center;
    }
    

    img{

        width: 350px;
            
    }

    p{
        font-size: 18px;
        padding: 2%;
        /*Le doy algo mas de padding a todo el parrafo, para el texto que esta dentro del toucan no quede pegado al borde, aunque esto se podría hacer mejor con selectores*/

    }

    footer{
        width: 100%;
        height: 5vh;
        background-color: #6ac5e2;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }