<div id="box"</div>
<div id="box2"</div>
<div id="box3"</div>

<style>
    body{
      background-color:#62306D
    }
  

  #box {
    position:absolute;
    border-radius:50%;
    left:100px;
    top:50px;
    width: 200px;
    height: 200px;
    background: #F7EC7D;
  }

    #box2 {
    position:absolute;
    left:px;
    top:px;
    width: 100px;
    height: 100px;
    background: #E38F66;
    border-radius:100px 0px 0px 0px;
  }
    #box3 {
    border-radius:100%;
    position:absolute;
    left:40px;
    top:40px;
    width: 120px;
    height: 120px;
    background: #62306D;
  }
 

  
  
</style>
