body{

    background-color: #F8F6E9;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* Puedes ajustar el tamaño, el peso y otros estilos según sea necesario */
    color: #59020a;
    

}

header {
    font-size: 20px;
    position: fixed; /* Fijar el header */
    width: 100%; /* Asegurar que ocupe todo el ancho */
    z-index: 1000; /* Asegurar que quede encima del contenido */
    display: flex; /* Organiza todo en una línea horizontal*/
    justify-content: space-between; /* Espaciarlos entre sí */
    align-items: center;/* Alinea el div y el nav*/
    padding: 10px 20px; /* Espaciado interno */
}

header nav ul {
    display: flex; /* Organizar los elementos del menú en fila */
    list-style: none; /* Eliminar los puntos de la lista */
    margin: 0; /* Eliminar márgenes */
    padding: 0; /* Eliminar padding */
}

header nav li {
    margin: 15px;
    padding: 5px;
    border-radius: 10px;
    background-color: #F8F6E9;
    
}

header nav{
    border: 0;
    font-size: inherit;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: underline;

}

#logo-yummy{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    background-color: #F8F6E9;
    font-family: "Merienda", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    
}

#logo{
    background-color: transparent;
    width: 25px;
    height: 15px;
    box-sizing: border-box;
    position: relative;
    margin-right: 10px;
    
  }
    

#triangle {
  
    width: 25px;
    height: 15px;
    background-color: #59020a;
    position: absolute;
    clip-path: polygon(100% 50%, 0 0%, 0 100%);
    }
  
  
#circulo {
    width: 5px;
    height: 5px;
    top: 4.5px;
    left: 8px;
    background-color:#F8F6E9;
    clip-path: circle(50% at 50% 50%);
    position: absolute;
    }


main{

    position: relative;
    display: flex;
    flex-wrap: wrap;

}

section{
    
    width: 500px;
    height: 500px;
    margin: 0;
    box-sizing: border-box; /* Garantizar un cálculo adecuado de ancho y alto */
    display: flex;
    justify-content: center;
}

section:nth-of-type(1){
    width: 50%;
    height: 100vh;
    background-image: url(./yummy-resources/img/apple-pie.jpg);
    background-size: cover;

}

article{
    width: 80%;
    display: flex;
    flex-direction: column; /* Cambiar a columna */
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;

}


nav{
    border: #59020a 2px solid;
    border-radius: 10px;
    background-color: transparent;
    padding: 20px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* Puedes ajustar el tamaño, el peso y otros estilos según sea necesario */
    color: #59020a;
}

section:nth-of-type(2){
    width: 50%;
    height: 100vh;
    
}

section:nth-of-type(3){
    width: 50%;
    height: 100vh;
   
}

section:nth-of-type(4){
    width: 50%;
    height: 100vh;
    background-image: url(./yummy-resources/img/chocolate-cake-wood.jpg);
    background-size: cover;
}


section:nth-of-type(5){
    width: 100vw;
    height: 80vh;
}

section:nth-of-type(6){
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content:space-around
   
}
section:nth-of-type(6) > article {
    width: 30%;
    font-size: 18px;
    text-align: left;
    height: 100%;
    display: flex;
    justify-content:flex-start;
    margin-top: 50px;  
}

section:nth-of-type(6) > article img {
    width: 100px; /* Ajusta el ancho de las imágenes */
    
}


section:nth-of-type(7){
    width: 100vw;
    height: 33vh;
    background-image: url(./yummy-resources/img/yummi-banner.png);
    background-size: cover;
    text-align: center;
    
}

section:nth-of-type(8){
    width: 100%;
    height: 50vh;
    display: flex;
    
}

section:nth-of-type(8) > article{
    width: 100vw;
    display: flex;
    align-items: center;
    font-size: 20px;
}

section:nth-of-type(9){
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
}

section:nth-of-type(9) > article{
    width: 300px;
    text-align: justify;

}

section:nth-of-type(9) > article img{
    width: 40%;

}

section:nth-of-type(10){
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: larger;
}
section:nth-of-type(10) p {
    width: 90%;
    text-align: center;
}

section:nth-of-type(10) ol{
    margin-top: 0px;
}


section:nth-of-type(10) ol > li{
    margin: 20px;
}

section:nth-of-type(11){
    width: 50%;
    height: 100vh;
    background-image: url(./yummy-resources/img/strawberry-jam-pie.jpg);
    background-size: cover;
}

section:nth-of-type(12){ /* Ultimo chisme de booking y eso */
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 30px;
    font-size: larger;
}

section:nth-of-type(12) form {
    width:50%;
    height: 30%;
    flex-wrap: wrap;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    
}

input {

    border: #59020a 2px solid;
    height: 15px;
    border-radius: 5px;
    padding: 8px 0px 7px 0px;
    margin: 7px 0px 7px 0px;
    display: flex;
    
}

section:nth-of-type(12) form input:nth-of-type(1){
    width: 100%;
    
}

section:nth-of-type(12) form input:nth-of-type(2){
    width: 48%;
}
section:nth-of-type(12) form input:nth-of-type(3){
    width: 48%;
}

section:nth-of-type(12) form input:nth-of-type(4){
    width: 48%;
}
section:nth-of-type(12) form input:nth-of-type(5){
    width: 48%;
    margin-bottom: 10px;
}
section:nth-of-type(12) form textarea{
    width: 100%;
    border: #59020a 2px solid;
    padding: 7px 0px 7px 0px;
    
}


section:nth-of-type(12) form input:nth-of-type(6){
    width: 100%;
    margin-top: 10px;
}

section:nth-of-type(12) form input:nth-of-type(7){
    position: relative;
    bottom: 1px;
}
section:nth-of-type(12) form label{
    width: 90%;
    position: relative;
    right: 30px;
}

section:nth-of-type(12) form button{
    width: 100%;
    align-self: center;
    margin-top: 20px;
    background-color:#59020a;
    color: white;
    border:#59020a 2px solid;
    border-radius: 20px;
    padding: 10px;
    
}


footer{
    width: 100%;
    height: 20vh;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    font-family:
    

}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
footer ul li {
    padding: 10px;
    display: flex;
    justify-content: center;
    text-align: center;

}

footer ul li:nth-child(1){
    font-family: "Merienda", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

footer ul li:nth-child(4){
    font-size:small
}


#logo-yummyfooter{
    display: flex;
    flex-direction: row;
    align-items: center;

    
}

#logo-footer{
    background-color: transparent;
    width: 25px;
    height: 15px;
    box-sizing: border-box;
    position: relative;
    margin-right: 10px;
    
  }
    

  #triangle2{

    width: 25px;
    height: 15px;
    background-color: white;
    position: absolute;
    clip-path: polygon(100% 50%, 0 0%, 0 100%);
    }
  
  
  #circulo2{
    width: 5px;
    height: 5px;
    top: 4.5px;
    left: 8px;
    background-color:black;
    clip-path: circle(50% at 50% 50%);
    position: absolute;
    }